{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block title %}
    {% if url_title %}
    {{ url_title }} - NOS Archief
    {% else %}
    Welkom in het inofficiele NOS Archief!
    {% endif %}
{% endblock %}


{% block navbar %}
    <div class="bd-example">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">NOS Archief</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.archief') }}">Archief</a>
              </li>
              <li class="navbar-nav mr-auto">
                <a class="nav-link" href="{{ url_for('main.geavanceerd_zoeken') }}">Zoeken</a>
              </li>
              <li class="navbar-nav mr-auto">
                <a class="nav-link" href="{{ url_for('api.overview') }}">API</a>
              </li>
            </ul>
            {% if g.search_form %}
            <form class="form-inline my-2 my-lg-0" method="get" action="{{ url_for('main.resultaten') }}">
                <div class="form-group">
                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                <li><a href="{{ url_for('main.index') }}">About</a></li>
            </ul>
          </div>
        </nav>
    </div>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale(language='en-GB', auto_detect=True) }}
    <script>
        function summarize(destElem, titles) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/summarize', {
                titles
            }).done(function(response) {
                $(destElem).html(response['text'])
            }).fail(function() {
                $(destElem).text("Error: Could not contact server.");
            });
        }
    </script>
{% endblock %}